# SSH private keys
*.pem
*.key
id_rsa
id_rsa.*
id_ed25519
id_ed25519.*

# Environment variables
.env
**/.env
.env.*
*.vault-password
vault-password.txt

# Python
__pycache__/
*.pyc
.venv/

# Logs
*.log

# VSCode
.vscode/

#Editor
.idea/

# OS files
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.backup

# Ansible
*.retry
*.log
.ansible/

# Ansible local inventory
automation/inventory/hosts.ini

#Local database
*.db

# IDE/OS
.DS_Store

# Ansible Vault secrets
automation/vault/*.yml
!automation/vault/*.example.yml

# Backup files
*.bak
*.bak.*
*.backup
*.old
