[tcpout]
defaultGroup = default-autolb-group

[tcpout:default-autolb-group]
server = {{ splunk_indexer_host }}:{{ splunk_indexer_port }}

[tcpout-server://{{ splunk_indexer_host }}:{{ splunk_indexer_port }}]
