[defaults]
inventory = ./inventory/hosts.ini
roles_path = ./roles
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
timeout = 10

[ssh_connection]
pipelining = True
